/* Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

html{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header{
    background-color: #EAC926;
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}

.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
}

.descripcion{
    font-size: 16px;
}

#searchbar{
    width: 150px;
    height: 20px;
    background-color: white;
    margin: auto;
    padding: 1px;
    border: 1px solid #666;
    display: inline-block;
    border-radius: 1px;
}

.fa-search{
    background-color:#ebebeb;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    padding: 1px;
    border: 1px solid #666;
    display: inline-block;
    text-align: center;
    margin: center;
}

.fa-bars{
    font-size: 20px;
    color: white;
    padding: 2px;
    border-radius: 1px;
    background-color: #03264C;
    background-size: 20px 20px;
    margin: auto;
    margin-bottom: 5px;
}

#searchtext{
    text-align: center;
    margin-top: 3px;
}

.fa-hand-holding-usd{
    display: inline
}
